@import '../../abstracts/variables.scss';

$moduleName: 'hotel-view';
.#{$moduleName} {
  &__base {
    background-color: var(--color-white);
    flex: 1;
  }

  &__detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
  }
}