<div class='popup__base' id='popup'>
  <div class='popup__content'>
    <div class='popup__left'>
      <img class='popup__img' src='./public/images/nat-8-original.webp' alt='Tour photo' />
      <img class='popup__img' src='./public/images/nat-9-original.webp' alt='Tour photo' />
    </div>
    <div class='popup_right'>
      <a href='#section__base--tours' class='popup__close'>&times;</a>
      <h2 class='heading__secondary u-margin-bottom-small'>Start booking now</h2>
      <h3 class='heading-tertiary u-margin-bottom-small'>Important &ndash; Please read this terms before booking</h3>
      <p class='popup__text'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis labore commodi corporis
        neque quos a sunt! Quia molestiae, soluta perferendis debitis, optio ducimus ab expedita, distinctio impedit
        quaerat recusandae quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt optio placeat
        nulla. Est eaque laboriosam, numquam sequi nulla maxime iste omnis molestias exercitationem amet cupiditate
        alias quaerat, neque ut vel.</p>
      <a href='#' class='button__base button--green'>Book now</a>
    </div>
  </div>
</div>