@import '../../abstracts/variables.scss';

$moduleName: 'header';
.#{$moduleName} {
  &__base {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--color-grey-light-2);
  }
}