@import '../../abstracts/variables.scss';

$moduleName: 'header';
.#{$moduleName} {
  &__base {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7rem;
    background-color: var(--color-white);
    border-bottom: solid 1px var(--color-grey-light-2);
  }

  &__logo {
    height: 3.25rem;
    margin-left: 2rem;
  }
}