<header class='header__base' data-js-cmp='header'>
  <div class='header__logo-box'>
    <img class='header__logo' src='./public/icons/logo-white.png' alt='Logo' />
  </div>
  <div class='header__text-box'>
    <h1 class='heading-primary__base'>
      <span class='heading-primary__main'>outdoors</span>
      <span class='heading-primary__sub'>is where life happens</span>
    </h1>

    <a class='button__base button--white button--animated' href='#'>Discover our tours</a>
  </div>
</header>