    <div class='gallery__base'>
      <figure class='gallery__item'>
        <img src='./public/images/hotel-1-original.webp' alt='Hotel 1 photo' class='gallery__photo' />
      </figure>
      <figure class='gallery__item'>
        <img src='./public/images/hotel-2-original.webp' alt='Hotel 2 photo' class='gallery__photo' />
      </figure>
      <figure class='gallery__item'>
        <img src='./public/images/hotel-3-original.webp' alt='Hotel 3 photo' class='gallery__photo' />
      </figure>
    </div>