<div class='hotel-view__detail'>
  <div class='description__base'>
    <p class='paragraph'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente
      saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.</p>
    <p class='paragraph'>Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
      inventore iure aliquid aliquam.</p>
    <ul class='list__base'>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Close to the beach>
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Breakfast included
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Free airport shuttle
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Free wifi in all rooms
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Air conditioning and heating
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Pets allowed
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        W speak all languages
      </li>
      <li class='list__item'>
        <span class='list__item-bullet-chevron inline-svg'>{{> public/svgs/chevron-thin-right}}</span>
        Perfect for families
      </li>
    </ul>
    <div class='recommend__base'>
      <p class='recommend__count'>Lucy and three other friends recommend this hotel</p>
      <div class='recommend__friends'>
        <img src='./public/images/user-3-original.webp' alt='user 3 photo' class='recommend__photo' />
        <img src='./public/images/user-4-original.webp' alt='user 4 photo' class='recommend__photo' />
        <img src='./public/images/user-5-original.webp' alt='user 5 photo' class='recommend__photo' />
        <img src='./public/images/user-6-original.webp' alt='user 6 photo' class='recommend__photo' />
      </div>
    </div>
  </div>
  <div class='user-reviews__base'>
    <figure class='review__base'>
      <blockquote class='review__text'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam,
        itaque officia ex.
      </blockquote>
      <figcaption class='review__user'>
        <img src='./public/images/user-1-original.webp' alt='' class='review__photo' />
        <div class='review__user-box'>
          <p class='review__user-name'>Nick Smith</p>
          <p class='review__user-date'>Feb 23rd, 2017</p>
        </div>
        <div class='review__rating'>7.8</div>
      </figcaption>
    </figure>
    <figure class='review__base'>
      <blockquote class='review__text'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.
      </blockquote>
      <figcaption class='review__user'>
        <img src='./public/images/user-2-original.webp' alt='' class='review__photo' />
        <div class='review__user-box'>
          <p class='review__user-name'>Mary Thomas</p>
          <p class='review__user-date'>Sept 14th 2017</p>
        </div>
        <div class='review__rating'>7.8</div>
      </figcaption>
    </figure>
    <button class='button__inline'>Show all <span>&rarr;</span></button>
  </div>
</div>