<div class='overview__base'>
  <h1 class='overview__heading'>
    Hotel Las Palmas
  </h1>
  <div class='overview__stars'>
    <span class='overview__star-icon inline-svg'>{{> public/svgs/star}}</span>
    <span class='overview__star-icon inline-svg'>{{> public/svgs/star}}</span>
    <span class='overview__star-icon inline-svg'>{{> public/svgs/star}}</span>
    <span class='overview__star-icon inline-svg'>{{> public/svgs/star}}</span>
    <span class='overview__star-icon inline-svg'>{{> public/svgs/star}}</span>
  </div>
  <div class='overview__location'>
    <span class='overview__location-icon inline-svg'>{{> public/svgs/location-pin}}</span>
    <button class='button__inline'>Albufeira, Portugal</button>
  </div>
  <div class='overview__rating'>
    <div class='overview__rating-average'>8.6</div>
    <div class='overview__rating-count'>429 votes</div>
  </div>
</div>