<nav class='sidebar__base'>
  <ul class='side-nav__base'>
    <li class='side-nav__item side-nav__item--isActive'>
      <a class='side-nav__link' href='#'>

        <span class='side-nav__icon inline-svg'> {{> public/svgs/home}}</span>
        <span>Hotel</span>
      </a>
    </li>
    <li class='side-nav__item'>
      <a class='side-nav__link' href='#'>

        <span class='side-nav__icon inline-svg'> {{> public/svgs/aircraft}}</span>
        <span>Flight</span>
      </a>
    </li>
    <li class='side-nav__item'>
      <a class='side-nav__link' href='#'>

        <span class='side-nav__icon inline-svg'> {{> public/svgs/key}}</span>
        <span>Car rental</span>
      </a>
    </li>
    <li class='side-nav__item'>
      <a class='side-nav__link' href='#'>

        <span class='side-nav__icon inline-svg'> {{> public/svgs/map}}</span>
        <span>Tours</span>
      </a>
    </li>
  </ul>

  <div class='sidebar__legal'>
    &copy; 2021 by Trillo. All rights reserved.
  </div>
</nav>